# Use .gitignore as whitelist (https://jasonstitt.com/gitignore-whitelisting-patterns)
# Ignore everything
*
# But still check directories
!*/
# Track git files
!.gitignore
!.gitattributes
# ------------------------------------------------------------------------------------

!/*.md
!/config/**/*

!/dev-save.xml

# Ignore -----------------------------------------------------------------------------

/config/BepInEx.DO_NOT_MODIFY.cfg
/config/FixPluginTypesSerialization.cfg

/config/com.sinai.unityexplorer.cfg

/config/local.option.generator.cfg

/config/itsschwer.NameChanger.cfg
